<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category_id</key>
		<integer>1</integer>
		<key>title</key>
		<string>All channels</string>
		<key>info</key>
		<string>San Francisco Chronicle, Today</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>2</integer>
		<key>title</key>
		<string>Tech</string>
		<key>info</key>
		<string>Need multiple people to help cater a wedding.</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>3</integer>
		<key>title</key>
		<string>Sports</string>
		<key>info</key>
		<string>I need someone to walk my two Jack Russells. One is named peter the other is named jackson.</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>4</integer>
		<key>title</key>
		<string>Politics</string>
		<key>info</key>
		<string>5 strong individuals are needed to move my belongings.</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>5</integer>
		<key>title</key>
		<string>Health</string>
		<key>info</key>
		<string>I need someone to come over and clean my dirty house.</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>6</integer>
		<key>title</key>
		<string>U.S.</string>
		<key>info</key>
		<string>Can you paint my house? I need a good painter now!</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>7</integer>
		<key>title</key>
		<string>World</string>
		<key>info</key>
		<string>Live Band needed at local Moes bar and grill. Must play rock music.</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>8</integer>
		<key>title</key>
		<string>Home &amp; Garden</string>
		<key>info</key>
		<string>I need a model to pose for me. I am not creepy.</string>
	</dict>
	<dict>
		<key>category_id</key>
		<integer>9</integer>
		<key>title</key>
		<string>Travel</string>
		<key>info</key>
		<string>Be an extra in a real Hollywood movie! Do you want to hang out on set all day drinking.</string>
	</dict>
</array>
</plist>
