<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>channel_id</key>
		<integer>0</integer>
		<key>youtube_id</key>
		<string></string>
		<key>youtube_name</key>
		<string>Most Recent</string>
		<key>thumb</key>
		<string></string>
		<key>image</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>1</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>ABC News</string>
		<key>thumb</key>
		<string>http://i3.ytimg.com/i/Bi2mrWuNuyYy4gbM6fU18Q/1.jpg</string>
		<key>image</key>
		<string>http://i3.ytimg.com/i/Bi2mrWuNuyYy4gbM6fU18Q/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>2</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>Associated Press</string>
		<key>thumb</key>
		<string>http://i2.ytimg.com/i/52X5wxOL_s5yw0dQk7NtgA/1.jpg</string>
		<key>image</key>
		<string>http://i2.ytimg.com/i/52X5wxOL_s5yw0dQk7NtgA/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>3</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>CBS News</string>
		<key>thumb</key>
		<string>http://i1.ytimg.com/i/8p1vwvWtl6T73JiExfWs1g/1.jpg</string>
		<key>image</key>
		<string>http://i1.ytimg.com/i/8p1vwvWtl6T73JiExfWs1g/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>4</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>FOX News Channel</string>
		<key>thumb</key>
		<string>http://i1.ytimg.com/i/XIJgqnII2ZOINSWNOGFThA/1.jpg</string>
		<key>image</key>
		<string>http://i1.ytimg.com/i/XIJgqnII2ZOINSWNOGFThA/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>5</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>Current</string>
		<key>thumb</key>
		<string>http://i2.ytimg.com/i/A52Z_6XLO1E6_0MCwl6rRQ/1.jpg</string>
		<key>image</key>
		<string>http://i2.ytimg.com/i/A52Z_6XLO1E6_0MCwl6rRQ/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>6</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>ESPN</string>
		<key>thumb</key>
		<string>http://i2.ytimg.com/i/iWLfSweyRNmLpgEHekhoAg/1.jpg</string>
		<key>image</key>
		<string>http://i2.ytimg.com/i/iWLfSweyRNmLpgEHekhoAg/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>1</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>Reutuers TV</string>
		<key>thumb</key>
		<string>http://i4.ytimg.com/i/CElUBs4eYOlX6sc24EAsAw/1.jpg</string>
		<key>image</key>
		<string>http://i4.ytimg.com/i/CElUBs4eYOlX6sc24EAsAw/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>1</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>Reuters Video</string>
		<key>thumb</key>
		<string>http://i1.ytimg.com/i/hqUTb7kYRX8-EiaN3XFrSQ/1.jpg</string>
		<key>image</key>
		<string>http://i1.ytimg.com/i/hqUTb7kYRX8-EiaN3XFrSQ/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>1</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>WSJ</string>
		<key>thumb</key>
		<string>http://i4.ytimg.com/i/K7tptUDHh-RYDsdxO1-5QQ/1.jpg</string>
		<key>image</key>
		<string>http://i4.ytimg.com/i/K7tptUDHh-RYDsdxO1-5QQ/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>channel_id</key>
		<integer>1</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>youtube_name</key>
		<string>NBC News</string>
		<key>thumb</key>
		<string>http://i2.ytimg.com/i/eY0bbntWzzVIaj2z3QigXg/1.jpg</string>
		<key>image</key>
		<string>http://i2.ytimg.com/i/eY0bbntWzzVIaj2z3QigXg/1.jpg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
</array>
</plist>
