<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>plugin_id</key>
		<integer>1</integer>
		<key>title</key>
		<string>Weather</string>
		<key>info</key>
		<string>San Francisco Chronicle, Today</string>
		<key>cost</key>
		<real>0.99</real>
	</dict>
	<dict>
		<key>plugin_id</key>
		<integer>2</integer>
		<key>title</key>
		<string>Stock ticker</string>
		<key>info</key>
		<string>San Francisco Chronicle, Today</string>
		<key>cost</key>
		<real>0.99</real>
	</dict>
</array>
</plist>
