<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>option_id</key>
		<integer>1</integer>
		<key>title</key>
		<string>Liked Articles</string>
		<key>url</key>
		<string></string>
		<key>info</key>
		<string></string>
	</dict>
	<dict>
		<key>option_id</key>
		<integer>2</integer>
		<key>title</key>
		<string>Read Articles</string>
		<key>url</key>
		<string></string>
		<key>info</key>
		<string></string>
	</dict>
	<dict>
		<key>option_id</key>
		<integer>4</integer>
		<key>title</key>
		<string>Topics</string>
		<key>url</key>
		<string></string>
		<key>info</key>
		<string></string>
	</dict>
	<dict>
		<key>option_id</key>
		<integer>5</integer>
		<key>title</key>
		<string>Notifications</string>
		<key>url</key>
		<string></string>
		<key>info</key>
		<string></string>
	</dict>
</array>
</plist>
