<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>video_id</key>
		<integer>1</integer>
		<key>type_id</key>
		<integer>1</integer>
		<key>title</key>
		<string>John Glenn's voice in space 50 years after orbit</string>
		<key>info</key>
		<string>San Francisco Chronicle, Today</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-01.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>2</integer>
		<key>type_id</key>
		<integer>2</integer>
		<key>title</key>
		<string>Catering Help Wanted!</string>
		<key>info</key>
		<string>Need multiple people to help cater a wedding.</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-02.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>3</integer>
		<key>type_id</key>
		<integer>1</integer>
		<key>title</key>
		<string>Dog Walker WANTED!</string>
		<key>info</key>
		<string>I need someone to walk my two Jack Russells. One is named peter the other is named jackson.</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-03.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>4</integer>
		<key>type_id</key>
		<integer>3</integer>
		<key>title</key>
		<string>Hauling Junk</string>
		<key>info</key>
		<string>5 strong individuals are needed to move my belongings.</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-01.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>5</integer>
		<key>type_id</key>
		<integer>1</integer>
		<key>title</key>
		<string>Clean my house!</string>
		<key>info</key>
		<string>I need someone to come over and clean my dirty house.</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-02.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>6</integer>
		<key>type_id</key>
		<integer>2</integer>
		<key>title</key>
		<string>Paint my house!</string>
		<key>info</key>
		<string>Can you paint my house? I need a good painter now!</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-03.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>7</integer>
		<key>type_id</key>
		<integer>2</integer>
		<key>title</key>
		<string>Live band needed at a local bar</string>
		<key>info</key>
		<string>Live Band needed at local Moes bar and grill. Must play rock music.</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-01.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>8</integer>
		<key>type_id</key>
		<integer>3</integer>
		<key>title</key>
		<string>Local Model Wanted!</string>
		<key>info</key>
		<string>I need a model to pose for me. I am not creepy.</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-02.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>9</integer>
		<key>type_id</key>
		<integer>3</integer>
		<key>title</key>
		<string>Want to be an extra!</string>
		<key>info</key>
		<string>Be an extra in a real Hollywood movie! Do you want to hang out on set all day drinking.</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-03.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>10</integer>
		<key>type_id</key>
		<integer>2</integer>
		<key>title</key>
		<string>BE THE SIGN GUY!</string>
		<key>info</key>
		<string>Ya know, that guy on the side of the road spinning the sign like he is a rock star!</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost-01.jpg</string>
		<key>video</key>
		<string></string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
</array>
</plist>
