<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>video_id</key>
		<integer>1</integer>
		<key>type_id</key>
		<integer>1</integer>
		<key>youtube_id</key>
		<string>snHUtykmoKE</string>
		<key>title</key>
		<string>Off Duty: Google&apos;s Cool NY Office, &apos;America&apos;s Next Top Model&apos; </string>
		<key>info</key>
		<string>Today on Off Duty: An inside look at Google&apos;s hip New York office. Plus, an exclusive interview with &apos;America&apos;s Next Top Model&apos; judge Kelly Cutrone. Also, Wendy Bounds perfects the art of tying a tie.</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-01.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-01.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v14.lscache6.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=22&amp;ip=98.0.0.0&amp;signature=A6FCDECA61631408A875B5B8AB1BD49D47B8A5D0.96A3F83A304DD8283822FD6EC6696B8735C18C01&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331042019&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBPUF9GU0NOMl9ISVRBOkRiZzRoS19uQ1pG&amp;id=b271d4b72926a0a1&amp;title=Off%20Duty%20Googles%20Cool%20NY%20Office,%20Americas%20Next%20Top%20Model%20Judge,%20How%20to%20Tie%20a%20Tie</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>2</integer>
		<key>type_id</key>
		<integer>2</integer>
		<key>youtube_id</key>
		<string>K-xf5ofGEA4</string>
		<key>title</key>
		<string>SUNDAY ON MEET THE PRESS: Rick Santorum - Gov&apos;s Brewer &amp; Brown - Roundtable</string>
		<key>info</key>
		<string>This Sunday on Meet The Press, David Gregory will interview GOP hopeful Rick Santorum as well as two prominent governors: Arizona&apos;s Jan Brewer (R) and California&apos;s Jerry Brown (D). Plus our political roundtable breaks down the state of the race. Joining us: Republican strategist and former McCain &apos;08 senior strategist Steve Schmidt, Fmr. Democratic Congressman Harold Ford, Jr., Washington Post&apos;s Kathleen Parker, and NBC&apos;s Political Director and Chief White House Correspondent Chuck Todd.</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-02.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-02.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v5.lscache7.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=22&amp;ip=98.0.0.0&amp;signature=0324E84E73A6ABDF39A820DE4A879B39BAB8B143.74498F3AB2BC5DC6E38DEA9C151CAC3666687B71&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331029952&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBNV19KTENOMl9IR0FKOldiZzRoS191TERZ&amp;id=2bec5fe687c6100e&amp;title=Meet%20the%20Press%20This%20Sunday%20Rick%20Santorum,%20Governors%20Brewer%20and%20Brown,%20plus%20Roundtable</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>3</integer>
		<key>type_id</key>
		<integer>1</integer>
		<key>youtube_id</key>
		<string>uoS71sBKESI</string>
		<key>title</key>
		<string>Marc Newson Urban Spaceman 1/5</string>
		<key>info</key>
		<string>BBC&apos;s Imagine. Marc Newson: Urban Spaceman

http://www.bbc.co.uk/imagine/episode/marc_newson.shtml</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-03.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-03.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v12.lscache7.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=18&amp;ip=98.0.0.0&amp;signature=B2679CA42B1A7A57F41355CDAB1652B5FE9E2426.B3A456B6EB1366B2C0B5158E483CC32F86123399&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331032609&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBOUF9FU0NOMl9ISFRHOkRiZzRoS19uSVlG&amp;id=ba84bbd6c04a1122&amp;title=Marc%20Newson%20Urban%20Spaceman%2015</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>4</integer>
		<key>type_id</key>
		<integer>3</integer>
		<key>youtube_id</key>
		<string>lVDbeK4WCL8</string>
		<key>title</key>
		<string>Exhaust Notes - Lamborghini Murciélago LP640</string>
		<key>info</key>
		<string>Exhaust Notes Series, showing the most beautiful engine melody of the most powerful road cars and exotics. Pure sound of Lamborghini Murciélago LP640 with stock exhaust
Accelerates, downshifts and top speed.</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-01.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-01.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v23.lscache4.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=22&amp;ip=98.0.0.0&amp;signature=C89E3593DA3B0D7AFD17E102D3683A33DE4A7272.D7A2B04B64AB6B02C0C4D19CF29B6DB1D9980C46&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331032261&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBOUF9LS0NOMl9ISFRDOlZiZzRoS19uRUVY&amp;id=9550db78ae1608bf&amp;title=Exhaust%20Notes%20-%20Lamborghini%20Murci%C3%A9lago%20LP640</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>5</integer>
		<key>type_id</key>
		<integer>1</integer>
		<key>youtube_id</key>
		<string>ntZ83q1lkCk</string>
		<key>title</key>
		<string>Obama Salutes Iraq War Vets at White House</string>
		<key>info</key>
		<string>President Barack Obama is paying tribute to the million-plus members of the U.S. military who served in Iraq with a formal White House dinner for a select few. (March 1)</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-02.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-02.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v10.lscache3.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=18&amp;ip=98.0.0.0&amp;signature=8063AB9A21C56664E78280CA248BE1719616A23E.4180AABAC12F2A82BA3A5EC3088078F32D8B4970&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331030251&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBOTl9KS0NOMl9ISFJDOlZiZzRoS19sRURY&amp;id=9ed67cdead659029&amp;title=Obama%20Salutes%20Iraq%20War%20Vets%20at%20White%20House</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>6</integer>
		<key>type_id</key>
		<integer>2</integer>
		<key>youtube_id</key>
		<string>ajFB2DJ_OgY</string>
		<key>title</key>
		<string>Deadly Storms Level Midwest Towns</string>
		<key>info</key>
		<string>At least six people were killed in the southern Illinois town of Harrisburg after a pre-dawn storm leveled much of the community of 9,000 people. The AP&apos;s Robert Ray has the story. (Feb. 29)
Subscribe to the Associated Press: http://bit.ly/APYouTube

Download AP Mobile: http://www.ap.org/mobile/

Associated Press on Facebook: http://apne.ws/c7lQTV

Associated Press on Twitter: http://apne.ws/bTquhb

Associated Press on Google+: http://bit.ly/zuTKBL</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-03.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-03.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v6.lscache8.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=18&amp;ip=98.0.0.0&amp;signature=64601F838D04BBC6DC19CB66E68B8037C9EEFA.5FC218FC1399FF95841A5D2B5404E3210EEF3AFA&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331031495&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBOT19OT0NOMl9ISFNFOlpiZzRoS19tR0hC&amp;id=6a3141d8327f3a06&amp;title=Deadly%20Storms%20Level%20Midwest%20Towns</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>7</integer>
		<key>type_id</key>
		<integer>2</integer>
		<key>youtube_id</key>
		<string>Oz7xMY1AbbI</string>
		<key>title</key>
		<string>Wanderlust - Trailer</string>
		<key>info</key>
		<string>http://facebook.com/wanderlustmovie

Paul Rudd and Jennifer Aniston star in Wanderlust, a raucous comedy from director David Wain (Role Models) and producer Judd Apatow (Knocked Up) about a couple who leaves the pressures of the big city and joins a freewheeling community where the only rule is to be yourself. 

George (Rudd) and Linda (Aniston) are an overextended, stressed out Manhattan couple. After George is downsized out of his job, they find themselves with only one option: to move in with George&apos;s awful brother in Atlanta.

On the way there, George and Linda stumble upon Elysium, an idyllic community populated by colorful characters who embrace a different way of looking at things. Money? It can&apos;t buy happiness. Careers? Who needs them? Clothes? Only if you want them. 

Is Elysium the fresh start George and Linda need? Or will the change of perspective cause more problems than it solves?</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-01.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-01.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v12.lscache6.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=18&amp;ip=98.0.0.0&amp;signature=649F515CF09F0BF4D39E6607CF3B11F196FAD4D0.694B9DCD3F2CC6870992603F9B3C86DD6385DB8F&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331033318&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBOUV9GUkNOMl9ISFVEOkNiZzRoS19vRlpF&amp;id=3b3ef1318d406db2&amp;title=Wanderlust%20-%20Trailer</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>8</integer>
		<key>type_id</key>
		<integer>3</integer>
		<key>youtube_id</key>
		<string>uoS9liwSsaU</string>
		<key>title</key>
		<string>Steve Jobs Most Fascinating Person</string>
		<key>info</key>
		<string>Part 10 of Barbara Walters&apos; &quot;The 10 Most Fascinating People of 2011&quot;</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-02.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-02.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v6.lscache7.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=18&amp;ip=98.0.0.0&amp;signature=7F2E9B34F585B9D82CEA9F27D538A6264A431521.5594B67F2B28037FFDF6427803F47F775D19E4F4&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331032115&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBOUF9GT0NOMl9ISFRCOlpiZzRoS19uRFpC&amp;id=ba84bd962c12b1a5&amp;title=Steve%20Jobs%20Most%20Fascinating%20Person</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>9</integer>
		<key>type_id</key>
		<integer>3</integer>
		<key>youtube_id</key>
		<string>LabGyWPxa2o</string>
		<key>title</key>
		<string>Aerial view of storm-damaged Harrisburg</string>
		<key>info</key>
		<string>Raw footage taken by The Southern Illinoisan Wednesday morning, after a tornado struck the community, killing at least six and possibly more in the early morning hours.</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-03.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-03.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v11.lscache5.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=18&amp;ip=98.0.0.0&amp;signature=557C70D83723FC6DEECC964EDEF630E3B38D3BE7.5B6CA7539411D11FAB4E16ED597145CCEA1BF051&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331031051&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBOT19KS0NOMl9ISFNBOlZiZzRoS19tQ0RY&amp;id=2da6c6c963f16b6a&amp;title=Aerial%20view%20of%20storm-damaged%20Harrisburg</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
	<dict>
		<key>video_id</key>
		<integer>10</integer>
		<key>type_id</key>
		<integer>2</integer>
		<key>youtube_id</key>
		<string>pa14VNsdSYM</string>
		<key>title</key>
		<string>Rihanna - Only Girl (In The World)</string>
		<key>info</key>
		<string>Music video by Rihanna performing Only Girl (In The World). (C) 2010 The Island Def Jam Music Group</string>
		<key>channel</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/channelLogo.png</string>
		<key>image</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_detail-01.jpg</string>
		<key>thumb</key>
		<string>http://dev.gullinbursti.cc/projs/simplenews/app/images/newsPost_list-01.jpg</string>
		<key>video</key>
		<string>http://o-o.preferred.comcast-lax1.v2.lscache2.c.youtube.com/videoplayback?sparams=cp%2Cid%2Cip%2Cipbits%2Citag%2Cratebypass%2Csource%2Cexpire&amp;fexp=902906%2C916103%2C913533&amp;itag=18&amp;ip=98.0.0.0&amp;signature=D237892E45DF8A0AAF05B86C19BA61686940EF40.6EF8821D86DB80279DD5B4ED149C614BA6F9793D&amp;sver=3&amp;ratebypass=yes&amp;source=youtube&amp;expire=1331030094&amp;key=yt1&amp;ipbits=8&amp;cp=U0hSRlBOTl9OTkNOMl9ISFJBOlliZzRoS19sQ0hB&amp;id=a5ad7854db1d4983&amp;title=Rihanna%20-%20Only%20Girl%20(In%20The%20World)</string>
		<key>date</key>
		<date>2011-08-28T00:00:00Z</date>
	</dict>
</array>
</plist>
